@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1582210970016'); /* IE9 */
  src: url('iconfont.eot?t=1582210970016#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABmgAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApwgQ0BNgIkAwgLBgAEIAWEbQczG7YFERWMMbIvsG3YQ4GYLUznwNo563+hp7UAHpTBDBQAAAAAEA//7fe/fWbmvT9fXJKgkkVDJNnqXkmQoFMhseiEqkmjV/qdONcyaCCzAcZH2lunyDc2R2Hz9M8fo2gD+sS/6eSO/w5BYonmFkpMYUebYyQp6UJiRTJon5V5x9j355jNlk3JajNEa83W57kc37V54/xAOa05aOO9KKBeYGmge2CU+GZsGLvgBV4n0GXOjji/9AWAqrDnBeJWXc4CtZBWFFarQrthaxHPoGp6kg54Gv0+/tmNStLK7LZLN70F4PTPkjMDbjSPJXJbY7kg2C4ydlCIa43lC7Jg3KyrXCxxrObgJ5lN4BVHdQn219mNPWAGqp9J42kftTGBkozO4uik40hT8L2vEThegyc9fLmEqeNnS3QOnR/PogfDEVY2RBZhZRe8ci6dpbfSG+F9agP/j9/T3Pj9x3GMO5+vN56LL1rqnx4E0zf2zeflf6CcRvPNy2zmASK4+9evxbzlRxfwRfbDSDWMU4AooO46EvwiY1lkgGLobHcqmrKjMZDMTpqb0KULDXB8yI+p9tH7qYdq9K6MHYYmQ1atEIWxgxZrt320VafQZdtqd7dhzBRlobHlBRAGvJH0eYdswIcojB9axvzRNhAmutyIPLLbWtRWM6aCBWQXqPNxINcnVty8xvLQpZzXReI9sqpz4NluubbCAXmJFepY+iIExGMPS3Abdt0IE48N5mJXIlPgONT0IDsfe81yDkMpgQogcwFqudGAguHCqnx/DZUOOinuoNQV9xBT6vGBx+YOIFbmYRDlUe5Rjko+IQggbNQDSzAJdTojMDVPaqCcsFUTipOA4/SjoWZ7e2v/A1WsB9uRwgmaWueTd8WMCkXTAAAA') format('woff2'),
  url('iconfont.woff?t=1582210970016') format('woff'),
  url('iconfont.ttf?t=1582210970016') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1582210970016#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ico_reset:before {
  content: "\e666";
}

